body {
    margin: 0;
    font-family: 'Sofia', sans-serif;
}

section {
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: #f7edf0;
    padding: 0 clamp(4rem, 12vw, 20rem);

    h1 {
        font-size: clamp(2rem, 4vw, 8rem);
        color: #333;
    }
    
    p {
        font-size: clamp(1rem, 2vw, 3rem);
        color: #333;    
    }
}

